	<form>
		<fieldset>
			<legend>
				Guia para auditar infraestructura
			</legend>
			<table>
				<tr>
					<th>
						N°
					</th>
					<th>
						Criterio
					</th>
					<th>
						Respuesta
					</th>
					<th>
						Observaciones 
					</th>
				</tr>		
				<tr>
					<td>
						1.
					</td>
					<td>
						¿Se cuenta con un inventario de todos los <br>equipos que integran el centro de cómputo?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						2.
					</td>
					<td>
						¿Con cuanta frecuencia se revisa el inventario?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						3.
					</td>
					<td>
						¿Se posee de bitácoras de fallas detectadas en los equipos?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>					
				</tr>
				<tr>
					<td>
						4.
					</td>
					<td>
						¿Se cuenta con servicio de mantenimiento para todos los equipos?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						5.
					</td>
					<td>
						¿Con cuanta frecuencia se realiza mantenimiento a los equipos?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>					
				</tr>
				<tr>
					<td>
						6.
					</td>
					<td>
						¿Se cuenta con procedimientos definidos para la <br>adquisición de nuevos equipos?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						7.
					</td>
					<td>
						¿Se tienen criterios de evaluación para determinar <br>el rendimiento de los equipos a adquirir y así elegir el mejor?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>				
				<tr>
					<td>
						8.
					</td>
					<td>
						¿Se tiene una distribución del espacio adecuada, <br>de forma tal que facilite el trabajo y no existan distracciones?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						9.
					</td>
					<td>
						¿Existen lugares de acceso restringido?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						10.
					</td>
					<td>
						¿Se cuenta con sistemas de seguridad para impedir <br>el paso a lugares de acceso restringido?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						11.
					</td>
					<td>
						¿Se cuenta con sistemas de emergencia como son <br>detectores de humo, alarmas, u otro tipo de censores?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						12.
					</td>
					<td>
						¿Se tienen medios adecuados para extinción de fuego <br>en el centro de cómputo?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						13.
					</td>
					<td>
						¿Existen señalizaciones adecuadas en las salidas <br>de emergencia y se tienen establecidas rutas de evacuación?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						14.
					</td>
					<td>
						¿Se tienen sistemas de seguridad para evitar que se sustraiga equipo de las instalaciones?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>				
				<tr>
					<td>
						15.
					</td>
					<td>
						¿Existen prohibiciones para fumar, consumir alimentos y bebidas?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						16.
					</td>
					<td>
						¿Se cuenta con suficientes carteles en lugares <br>visibles que recuerdan estas prohibiciones?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						17.
					</td>
					<td>
						¿Con cuanta frecuencia se limpian las instalaciones?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						18.
					</td>
					<td>
						¿Se cuenta con instalación con tierra física <br>para todos los equipos?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>				
				<tr>
					<td>
						19.
					</td>
					<td>
						¿La instalación eléctrica se realizó <br>específicamente para el centro de cómputo?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						20.
					</td>
					<td>
						¿La acometida llega a un tablero de distribución?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						21.
					</td>
					<td>
						¿El tablero de distribución está en la sala, visible y accesible?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						22.
					</td>
					<td>
						¿Los ventiladores y aire acondicionado están conectados <br>en la misma instalación de los equipos a la planta de emergencia?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						23.
					</td>
					<td>
						¿Se tienen los interruptores rotulados adecuadamente?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						24.
					</td>
					<td>
						¿Se tienen conectadas algunas lámparas del <br>centro de cómputo a la planta de emergencia?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>				
				<tr>
					<td>
						25.
					</td>
					<td>
						¿Se tienen lugares de acceso restringido?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>
				</tr>
				<tr>
					<td>
						26.
					</td>
					<td>
						¿Se poseen mecanismos de seguridad para el acceso a estos lugares?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>					
				</tr>
				<tr>
					<td>
						27.
					</td>
					<td>
						¿Tiene medidas implementadas ante la falla del sistema de seguridad?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>					
				</tr>
				<tr>
					<td>
						28.
					</td>
					<td>
						¿Se tiene un registro de las personas que ingresan a las instalaciones?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>					
				</tr>
				<tr>
					<td>
						29.
					</td>
					<td>
						¿Con cuanta frecuencia se actualizan las claves o credenciales de acceso?
					</td>
					<td>
						<select>
							<option value="SI" selected="">SI</option>
							<option value="NO">NO</option>
						</select>
					</td>
					<td>
						<input type="text" name="Observaciones">
					</td>					
				</tr>
				<tr>
					<td>
						*
					</td>
					<td>
						Adjuntar documentos probatorios presentados
					</td>
					<td colspan="3">
						<label>Adjuntar</label>						
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
